p h2 {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  direction: row;
  justify-content: space-evenly;
}

.cardCredit {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  max-height: 200px;
  min-width: 350px;
  min-height: 250px;
  border-radius: 5%;
  border-color: lightgray ;
}

.card > div {
  justify-content: flex-end;
}