
.row {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.all{
  max-width: 500px;
  max-height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  

}
